
.photo1 {


    border: solid black 2px;
    width: 350px;
    height: 200px;
}
.titre{
    text-decoration: underline;
}
.formPlaces{

    position: absolute;
    margin-top: 30px;
    margin-left: 350px;
}
.select{

    margin-top: 32px;
    margin-left: 650px;
}



.buttonAdd{
    background-color: transparent;
    border: 1px solid #a071b8;
    color: #a071b8;
    cursor: pointer;
    font-size: .9rem;
    padding: 0.16667rem 0.33333rem;
}

