
.photo1 {


    border: solid black 2px;
    width: 350px;
    height: 200px;
}

.titre {
    text-decoration: underline;
}

.formPlaces {
    position: absolute;
    margin-left: 550px;
}

.select {

    margin-top: 1px;
    margin-left: 850px;
}

/*
.buttonAdd {
    background-color: transparent;
    border: 1px solid #a071b8;
    color: #a071b8;
    cursor: pointer;
    font-size: .9rem;
    padding: 0.16667rem 0.33333rem;
}

 */

